In [1]:
import numpy as np
import math
import pandas as pd

# Python allows us to create our own functions

def calculatePythagorean():
    a = float(input("Enter the length of side a: "))
    b = float(input("Enter the length of side b: "))
    return (a**2 + b**2)**(1/2)

c = calculatePythagorean()
print(c)

Enter the length of side a:  3
Enter the length of side b:  4

5.0

In [9]:
def add(a, b):
    return a + b

s = add(1, 3)
print(s)

4

In [38]:
def operate(a,b):
    return a+b, a-b, a*b, a/b, a**b

print(operate(5,6)) #returns a tuple
s, d, p, f, e = operate(5,6)
print(s,d,p,f,e)

(11, -1, 30, 0.8333333333333334, 15625)
11 -1 30 0.8333333333333334 15625

In [10]:
# lambda functions are one-line functions that condense functions

disc = lambda a, b, c: (b**2 -4*a*c) # we cannot continue onto thenext line with lambda functions
py= lambda a,b: (a**2 + b**2)**(1/2)
print(py(3,4))
print(disc(1,2,1))
print(disc(3,8,24))

5.0
0
-224

In [50]:
#Exercise!
#Create a factorial function and compare it with the factorial in the math module
def fact(a) -> int:
    alist = np.arange(1,a+1)
    return np.prod(alist)

labels = ['custom factorial', 'math factorial']
D = {labels[0]: [], labels[1]: []}

for i in range(1, 10):
    D[labels[0]].append(fact(i))
    D[labels[1]].append(math.factorial(i))

df = pd.DataFrame(data=D)
df

   custom factorial  math factorial
0                 1               1
1                 2               2
2                 6               6
3                24              24
4               120             120
5               720             720
6              5040            5040
7             40320           40320
8            362880          362880